<div id="<%= dom_id post %>">
  <div>
    <strong>User:<%if post.user.avatar.attached? %>
  <%= image_tag post.user.avatar, style: "width: 30px", class: "rounded-circle" %>
  <%end%>
      <%= link_to post.user.fname, post %>
      
   </strong>
    </div>
    <div class="container">
<br>
  <%if post.post_image.attached? %>
  <%= image_tag post.post_image, style: "width: 200px", class: "img-thumbnail" %>
  <%end%>
  <p>
    <strong>Body:</strong>
    <%= post.body %>
    
  </p>
 <%# <b> Add a comment:</b> <%= render "cform" %>
  

</div>
</div>