<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  Comments: <br> 
<% post.comments.each do |c|%>
<strong><%=c.user.fname%>  </strong>
<%=c.body%>
<br>
<%end%>


    <strong>--------------------------------------------------</strong>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
