<p style="color: green"><%= notice %></p>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%=link_to "My Friends", users_friends_path,  class: "btn btn-outline-primary"%>
  <button type="button" class="btn btn-outline-primary">Middle</button>

</div>


<br>
 <br>
<h1>Posts</h1>
<%= link_to "What's on your mind?", new_post_path, class:"btn btn-secondary" %>
<div class="container">
<table class="table justify-content-end" >
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <th scope="row"> <%= render post %></th>
      
      <td><strong>Likes: <%= post.likes.count%> <% like = current_user.likes.find_by(post: post)%>
      <% if like.nil? %>
      <%= button_to "Like", likes_path,  params: {like:{post_id: post.id}}, method: :post, class:"btn btn-success" %>
      <%else%>
      <%= button_to "Unlike", like_path(like), method: :delete,  class:"btn btn-secondary" %>
      <%end%><br> </strong></td>
      <%com = post.comments.each%>
      <%if post.comments.count == 0 %>
        <td>No comments 
        <br>
        <%= button_to "Add a comment", post , method: :get, class:"btn btn-light" %></td>
      <%else%>
      <td><% post.comments.each do |c|%>
      <%if c.user.avatar.attached? %>
  <%= image_tag c.user.avatar, style: "width: 30px", class: "rounded-circle" %>
  <%end%>
      <strong><%=c.user.fname%>  </strong>
      <%=c.body%></th>
      <br>
      <br>
      <%end%>
      <br>
      <%= button_to "Add a comment", post , method: :get, class:"btn btn-light" %></td>
        <%end%>
    </tr>
      <% end %>
  </tbody>
</table></div>


